<div class="row">
    <div class="col-md-10">
        <input type="text" name="name" class="form-control" placeholder="Task Title" id="long-url" />

        <div class="col-md-2">
            <button class="btn btn-primary btn-block" id="submit">Submit</button>
        </div>
        <h3  id="short-url"></h3>

    </div>
</div>

@section scripts
    {
    <script src="/js/Index.js"></script>
}
