
<style>
    h3 {
        text-align: center;
    }

    input, button {
        margin-top: 20px;
    }
</style>

<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <form method="post" action="/account/logIn">
            <h3>Log In</h3>
            <input type="text" name="email" placeholder="Email" class="form-control" />
            <input type="password" name="password" placeholder="Password" class="form-control" />
            <button class="btn btn-info btn-block" style="margin-top:20px;">Log In</button>
        </form>
    </div>
</div>